raw_data/
# notebooks/
ohsome_api/test.ipynb
ohsome_api/paris.ipynb
test.ipynb

preprocessing.egg-info/
__pycache__
*.ipynb_checkpoints
.DS_Store

# notebooks
notebooks_gridding.ipynb
ohsome_api/test.ipynb
ohsome_api/paris.ipynb
